input{
    width: 20px;
    height: 20px;
    position: absolute;
}
.displayflex{
display: flex;
}
.displayinlineflex{
display: inline-flex;
}
#container{
    width: 480px;
    height: 750px;
    border: solid 10px black ;
align-items: center;
}
.vertical1{
    margin-left: 0px;
}
.vertical2{
    margin-left: 30px;
}
.vertical3{
    margin-left: 60px;
}
.vertical4{
    margin-left: 90px;
}
.vertical5{
    margin-left: 120px;
}
.vertical6{
    margin-left: 150px;
}
.vertical7{
    margin-left: 180px;
}
.vertical8{
    margin-left: 210px;
}
.vertical9{
    margin-left: 240px;
}
.vertical10{
    margin-left: 270px;
}
.vertical11{
    margin-left: 300px;
}
.vertical12{
    margin-left: 330px;
}
.vertical13{
    margin-left: 360px;
}
.vertical14{
    margin-left: 390px;
}
.vertical15{
    margin-left: 420px;
}
.vertical16{
    margin-left: 450px;
}
.horizontal1{
    margin-top: 0px;

}
.horizontal2{
    margin-top: 30px;
}
.horizontal3{
    margin-top: 60px;
}
.horizontal4{
    margin-top: 90px;
}
.horizontal5{
    margin-top: 120px;
}
.horizontal6{
    margin-top: 150px;
}
.horizontal7{
    margin-top: 180px;
}
.horizontal8{
    margin-top: 210px;
}
.horizontal9{
    margin-top: 240px;
}
.horizontal10{
    margin-top: 270px;
}
.horizontal11{
    margin-top: 300px;
}
.horizontal12{
    margin-top: 330px;
}
.horizontal13{
    margin-top: 360px;
}
.horizontal14{
    margin-top: 390px;
}
.horizontal15{
    margin-top: 420px;
}
.horizontal16{
    margin-top: 450px;
}
.horizontal17{
    margin-top: 480px;
}
.horizontal18{
    margin-top: 510px;
}
.horizontal19{
    margin-top: 540px;
}
.horizontal20{
    margin-top: 570px;
}
.horizontal21{
    margin-top: 600px;
}
.horizontal22{
    margin-top: 630px;
}
.horizontal23{
    margin-top: 660px;
}
.horizontal24{
    margin-top: 690px;
}
.horizontal25{
    margin-top: 720px;
}
#btn1{
    margin-left: 35vw;
    width: 90px;
}


