body{
    margin: 0 ;
    font-family:'Montserrat', sans-serif;
    background-color: rgb(233, 233, 233);
    font-size: 3vh;
}
.corpo{
    padding: 3%;
    
}
.nome{
    margin-top: 2vw;
    display: flex;
}
.div_lados{
    flex-direction: row;
    display: flex;
}
.caculadora{
    
    height: 90vh;
    width: 22vw;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 1vw;    
    display: flex;
    flex-direction: column;
}
.div_respostas{

    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    
}
.div_button{
   
    justify-content: center;
    display: flex;
    
}
.ipt{
    margin-top: 15vh;
    width: 15vw;
    height: 2vw;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: black;
    background-color: transparent;
}
.div_button{
    margin-top: 20vh;
}
.bt{
    width: 15vw;
    height: 2.5vw;
    border-radius: 1vw;
    border-color: transparent;
    
    background: #ffffff;
    background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: white;
   
}
.div_button:hover{
    background-color: transparent;
}



.combosCaixa{
    background-color: rgb(233, 233, 233);
    width: 65vw;
    height: 30vh;
    margin-left: 5vw;
    align-items: center;
}
.grafico{
    background-color: white;
    width: 65vw;
    height: 38vh;
    margin-left: 5vw;
    border-radius: 1vh; 
    margin-top: 22vh;
}
.parte{
    flex-direction: column;
    display: flex;
}
.combo1{
    background-color: white;
    width: 30vw;
    height: 22vh;
    box-shadow: 22vh 20 vw;
    border-radius: 1vh;
}
.combo2{
    background-color:white;
    width: 30vw;
    height: 22vh;
    border-radius: 1vh;
}
.combo3{
    background-color: white;
    width: 30vw;
    height: 22vh;
    border-radius: 1vh;
}
.combo4{
    background-color: white;
    width: 30vw;
    height: 22vh;
    border-radius: 1vh; 
}
.filha_caixa{
    justify-content: space-evenly 26vw;
    display: flex;
   
}

.combo2{
    margin-top: 5vh;
}

.neta2{
    margin-left: 5vw;
}
.combo4{
    margin-top: 5vh;
}
#texto1{
    font-size: large;
    
}
#texto2{
    font-size: large;
    
}
#texto3{
    font-size: large;
  
}
#texto4{
    font-size: large;
   
}